*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --brand-color: #660000;
    --brand-light-color: #883333;
    --brand-blue: #000055;
    --brand-light-blue: #333388;
    --brand-grey: #888888;
    --white: #FFFFFF;
}

.index-header {
    color: #003;
}

.d-none {
    display: none !important;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: MuseoSans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #f5f5f5;
}

.content {
    padding: 1.25rem 1.25rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form__wrapper {
    position: relative;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    margin-bottom: 2rem;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 760px;
}

@media (min-width: 576px) {
    .form-row > .form-group {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

textarea.form-control {
    overflow: auto;
    resize: vertical;
    height: auto;
}

/* CSS для индикации полей форме при их валидности */
.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

textarea.form-control.is-valid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}

/* CSS для индикации полей форме при их не валидности */
.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

textarea.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}


.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.form-control.is-invalid ~ .invalid-feedback {
    display: block;
}

.form-submit {
    text-align: right;
}

.btn {
    border-radius: 2px;
    font-size: 17px;
    padding: 10px 19px;
    font-family: Verdana, serif;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.abv-button {
    background-color: var(--brand-color) ;
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 7px !important;
}

.abv-button:hover {
	background-color: var(--brand-blue);
	color: #FFF;
}

.btn-file {
    background: var(--brand-color);
}

.btn-file:hover {
    cursor: pointer;
    background-color: var(--brand-blue);
}

#file {
    cursor: pointer;
}

/* Стили для сообщения об ошибках */
.form-error {
    position: relative;
    padding: .5rem 1rem 0.6rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: #dc3545;
    background-color: #dc35450d;
    border: 1px solid #dc3545;
}

/* Стили для сообщения об успешной отправки */
.form-result-success {
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 4px;
}

.form-result-success > div {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #eff4f1;
    z-index: 1001;
    border-radius: 0;
    color: #28a745;
    background-color: #eff4f1;
}

.form-result-success a {
    color: #28a745;
    background-color: transparent;
    font-weight: 700;
}

.file-preview {
    border: none;
}

